@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');
.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    display: inline;
}
#icono{
   
    display: inline;
}
#video-background {
    position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
}
.fondo{
    margin:0 auto;
  width: 100%;
  height: 100%;
  background: rgba(0,189,255,0.8);
  color: white;
   padding:10%;                                                                                                                    5px;
}
.columna1 h1{

font-size:70px;

text-shadow: 1px 1px 1px #000;
}
.columna1 h3{
    font-size: 30px;
}

